<style>
.img{
    background-color: black;
    width: 200px;
    padding: 10px;
    margin: 10px;
}
.container{
    border: solid black 1px;
    margin: 10px;
    width: 300px;
    padding: 10px;
    margin-top: 50px;
}
input[type=submit]{
    display: block;
    text-align:right;
    padding: 10px;
}
input{
    margin: 10px;
    padding: 5px;
}
</style>
<div class="img">
<img src="https://cdn.hackerhero.com/1.1/assets/images/global/hh_logo_beta.svg">
</div>
<div class="container">
<h1>Login</h1>
<form method="post">
<label>Username<input type="text"></label>
<label>Password<input type="password"></label>
<input type="submit" value="Login">
</form>
</div>
<p>Not a member yet?<a href="#">Register</a></p>
