<style>
.img{
    background-color: black;
    width: 200px;
    padding: 10px;
    margin: 10px;
}
.container{
    margin: 10px;
    padding: 10px;
    margin-top: 50px;
}
button{
    display: inline-block;
}
.certificates, .followers, .following{
    padding: 10px;
    margin: 10px;
    border: solid black 1px;
}
</style>
<div class="img">
<img src="https://cdn.hackerhero.com/1.1/assets/images/global/hh_logo_beta.svg">
</div>
<div class="container">
<span><h1>mchoi</h1><button>Follow</button></span>

<div class="certificates">
<h2> (5) Certificates </h2>
<p>Proficient in Web Fundamentals</p>
<p>Proficient in PHP Track</p>
<p>Proficient in Advanced PHP</p>
<p>Proficient in Advanced JS</p>
<p>Proficient in Backend Development</p>
</div>
<div class="followers">
<h2> (4) Followers</h2>
<a href="#">Karen Igcasan</a>
</div>
<div class="following">
<h2> (1) Following</h2>
<a href="#">Karen Igcasan</a>
</div>
</div>